<div id="modal-add-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true">×</span>
                </button>*@
                <h4 class="modal-title">Thêm/Sửa thông tin khách hàng</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <input type="hidden" id="hidId" value="" />
                        <input type="hidden" name="txtSaleId" id="txtSaleId" />
                        <input type="hidden" name="txtCreatorId" id="txtCreatorId" />
                        <input type="hidden" id="user_role" value="@User.GetSpecificClaim("Roles")" />

                        <div class="form-group row">
                            <label for="txtFullName" class="col-sm-4 control-label">Tên khách hàng</label>
                            <div class="col-sm-8">
                                <input type="text" name="txtFullName" class="form-control" id="txtFullName">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtPhoneNumber" class="col-sm-4 control-label">Số điện thoại</label>
                            <div class="col-sm-8">
                                <input type="text" name="txtPhoneNumber" class="form-control" id="txtPhoneNumber">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtCreatorNote" class="col-sm-4 control-label">Ghi chú đầu</label>
                            <div class="col-sm-8">
                                <input type="text" name="txtCreatorNote" class="form-control" id="txtCreatorNote" />
                            </div>
                        </div>
                        @if (!User.IsInRole("Marketing"))
                        {
                            <div class="form-group row">
                                <label for="txtSaleNote" class="col-sm-4 control-label">Ghi chú sale</label>
                                <div class="col-sm-8">
                                    <input type="text" name="txtSaleNote" class="form-control" id="txtSaleNote" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtPrice" class="col-sm-4 control-label">Giá chốt</label>
                                <div class="col-sm-8">
                                    <input type="text" name="txtPrice" class="form-control" id="txtPrice" 
                                           pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" >
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label for="txtPrice" class="col-sm-4 control-label">Giá chốt</label>
                                <div class="col-sm-8">
                                    <input type="text" name="txtPrice" class="form-control" id="txtPrice">
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label for="txtDeal" class="col-sm-4 control-label ">Ngày chốt đơn</label>
                                <div class="col-sm-8">
                                    <input type="text" name="txtDeal" class="form-control" id="txtDeal">
                                </div>
                            </div>
                        }


                        <div class="form-group row">
                            <label for="txtDateSendByCustomer" class="col-sm-4 control-label">Ngày khách để lại số</label>
                            <div class="col-sm-8">
                                <input type="text" name="txtDateSendByCustomer" class="form-control" id="txtDateSendByCustomer">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                                @if (!User.IsInRole("SaleStaff"))
                                {
                                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-default">Đóng</button>
                                }

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>