<div id="modal-appoint-customer" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Chỉ định khách hàng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <input type="hidden" id="user-id" />
                        <select id="customer-select" class="form-control">

                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>